.heading-base {
  font-family: var(--font-heading);
  font-weight: var(--font-weight-bold);
  letter-spacing: var(--letter-spacing-tight);
}

.h1 {
  font-size: var(--font-size-2xl);
}

@media (--desktop) {
  .h1 {
    font-size: var(--font-size-3xl);
  }
}

.h2 {
  font-size: var(--font-size-xl);
}

@media (--desktop) {
  .h2 {
    font-size: var(--font-size-2xl);
  }
}

.h3 {
  font-size: var(--font-size-lg);
}

.h4 {
  font-size: var(--font-size-base);
}

.h5 {
  font-size: var(--font-size-base);
}

.h6 {
  font-size: var(--font-size-base);
}
