/**
 * Gruvbox Tailwing theme, a modern implementation of the Gruvbox color scheme
 * Based on https://github.com/morhetz/gruvbox
 */

/**
 * Basic primitives and building blocks
 */
:root {
  /* Color Palette - Primary Colors */
  --color-red: #cc241d;
  --color-red-dark: #9d0006;
  --color-green: #98971a;
  --color-green-dark: #79740e;
  --color-yellow: #d79921;
  --color-yellow-dark: #b57614;
  --color-blue: #458588;
  --color-blue-dark: #076678;

  /* Color Palette - Secondary Colors */
  --color-purple: #b16286;
  --color-purple-dark: #8f3f71;
  --color-aqua: #689d6a;
  --color-aqua-dark: #427b58;
  --color-orange: #d65d0e;
  --color-orange-dark: #af3a03;
  --color-gray: #928374;
  --color-gray-dark: #7c6f64;

  /* Typography */
  --font-sans:
    "Source Sans Pro", "Noto Sans", system-ui, -apple-system, sans-serif;
  --font-heading: "JetBrains Mono", system-ui, sans-serif;
  --font-mono: "JetBrains Mono", monospace;

  /* Layout */
  --radius-default: 0.5rem;
}

/**
 * Semantic color mappings, aliases
 */
.gruvbox {
  /* Core UI Colors */
  --background: var(--bg0);
  --foreground: var(--fg0);
  --muted: var(--bg1);
  --muted-foreground: var(--fg2);

  /* Component Colors */
  --popover: var(--bg0);
  --popover-foreground: var(--fg0);
  --card: var(--bg0);
  --card-foreground: var(--fg0);
  --primary: var(--fg0);
  --primary-foreground: var(--bg0);
  --secondary: var(--bg1);
  --secondary-foreground: var(--fg0);

  /* Interactive Elements */
  --accent: var(--color-blue);
  --accent-foreground: var(--fg0);
  --destructive: var(--color-red);
  --destructive-foreground: var(--bg0);
  --border: var(--fg2);
  --input: var(--bg2);
  --ring: var(--fg3);
  --overlay: var(--bg2);
  --overlay-foreground: var(--fg1);
}

/**
 * Light theme color palette
 */
.gruvbox-light {
  /* Background Scale (Lightest to Darkest) */
  --bg0-hard: #f9f5d7;
  --bg0: #fbf1c7;
  --bg0-soft: #f2e5bc;
  --bg1: #ebdbb2;
  --bg2: #d5c4a1;
  --bg3: #bdae93;
  --bg4: #a89984;

  /* Foreground Scale (Darkest to Lightest) */
  --fg0: #282828;
  --fg1: #3c3836;
  --fg2: #504945;
  --fg3: #665c54;
  --fg4: #7c6f64;
}

/**
 * Dark theme color palette
 */
.gruvbox-dark {
  /* Background Scale (Darkest to Lightest) */
  --bg0-hard: #1d2021;
  --bg0: #282828;
  --bg0-soft: #32302f;
  --bg1: #3c3836;
  --bg2: #504945;
  --bg3: #665c54;
  --bg4: #7c6f64;

  /* Foreground Scale (Lightest to Darkest) */
  --fg0: #fbf1c7;
  --fg1: #ebdbb2;
  --fg2: #d5c4a1;
  --fg3: #bdae93;
  --fg4: #a89984;
}

/**
 * Base Styles
 */

::selection {
  color: var(--background);
  background-color: var(--foreground);
}

@font-face {
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/JetBrainsMono-Nerd-Regular.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 700;
  src: url("./fonts/JetBrainsMono-Nerd-Bold.ttf") format("truetype");
  font-display: swap;
}
