.button {
  position: relative;

  display: inline-block;

  cursor: pointer;
}

.button--size-normal {
  height: var(--unit);
  padding: 0 calc(var(--unit) / 2);
}

.button--is-disabled {
  cursor: not-allowed;
  pointer-events: none;

  opacity: var(--opacity-disabled);
}

.button:hover {
  box-shadow: 7px 7px 0 color(var(--color-fg) a(10%));
}

.button:active {
  text-decoration: underline;
}

.button-icon {
  margin-right: var(--unit);
}

.button--type-primary {
  color: var(--color-bg);
  background-color: var(--color-fg);
}

.button--type-secondary {
  color: var(--color-bg);
  background-color: var(--color-fg2);
}

.button--type-bad {
  color: var(--color-fg);
  background: var(--color-red);
}
