.divider-base {
  composes: block from global;
  width: 100%;
  margin-bottom: var(--unit-4);
  height: var(--unit);
  border-color: var(--fg-tertiary);
}

.size-sm {
  height: calc(var(--unit) / 2);
}

.size-lg {
  height: var(--unit-2);
}

/**
 * Variants
 */

.variant-ascii {
  composes: font-mono font-bold from global;
  margin-top: var(--unit-4);
  color: var(--fg-primary);
}

.simple-normal {
  composes: border-t border-solid from global;
  border-color: var(--fg-tertiary);
}

.simple-thick {
  border-top: var(--border-width-thick) solid var(--fg-tertiary);
}

.double-normal {
  composes: border-t border-b border-solid from global;
  border-color: var(--fg-tertiary);
}

.double-thick {
  border-top: var(--border-width-thick) solid var(--fg-tertiary);
  border-bottom: var(--border-width-thick) solid var(--fg-tertiary);
}
