.input {
  position: relative;

  display: flex;
  overflow: hidden;

  padding: 0;

  border: 0;
  border-radius: 0;
}

.input--is-disabled {
  opacity: var(--opacity-disabled);
}

.input .shadow {
  position: absolute;
  z-index: var(--z-index-normal);
  top: 0;
  left: 0;

  width: 100%;

  opacity: 0.3;
}

.input input {
  z-index: var(--z-index-high);
}

.input input,
.input label,
.input .error,
.input .shadow {
  height: var(--unit);

  font-family: var(--font-family);
  font-size: var(--font-size);
  line-height: var(--unit);
}

.input input,
.input .shadow {
  flex: 1;

  height: var(--unit);
  margin: 0;
  padding: 0;

  color: var(--color-bg);
  caret-color: var(--color-bg);

  border: 0;
  outline: none;
  background: var(--color-yellow);
  box-shadow: none;
}

.input .error {
  color: var(--color-red);
  background: var(--color-fg);
}

.input label {
  text-transform: uppercase;

  color: var(--color-bg);

  font-weight: bold;
}
